@charset "UTF8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
html, body{
    background-color: gray;
   
}
body{
    
     background-image: url(imagens/fundo-madeira.jpg);
     background-repeat: no-repeat top center;
     background-size: cover;
     background-attachment: fixed;

}
main{
    position: relative;
     height: 100vh;
     


}
section#iphone{
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
section#iphone img{
    height: 471px;
    width: 269px;
    position: relative;
    top: 80px;
    left: 22px;
    
}
section#redes img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 10px;
    
    
}
section#redes img:hover{
    border: 5px solid white;
}
section#redes{
    text-align: right;
}