@charset "UTF8";
*{
    padding: 0px;
    margin: 0px;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat bottom center;
    background-size:cover;
    background-attachment:fixed;
    
    

}
main{
    height: 100vh;
    position: relative;
    margin: auto;
    
    
    
    
}
section#telefone{
    position: absolute;
    top: 10%;
    left: 40%;
    height: 627px;
    width: 311px;
    background-color: gray; 
    background: url(../imagens/frame-iphone.png) no-repeat;
    
    
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    
}






section#redes{
    text-align: right;

}   

section#redes img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.378);
}
section#redes img:hover{
    border: 2px solid white
}